.places__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.places__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .places__link {
   margin: 0 16px 12px 16px;
  }
}