.lead {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-items: center;
  margin-top: 56px;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
  }
}