.header {
max-width: calc(100% - (48px*2));
position: relative;
display: flex;
justify-content: flex-end;
padding-top: 46px;
margin: 0 48px;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - (24px*2));
    margin: 0 24px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    max-width: calc(100% - (16px*2));
    margin: 0 auto;
    min-height: 22px;
    padding-top: 30px;
    min-width: 288px;
    align-items: center;
  }
}