.header {
min-width: 90%;
margin: auto;
min-height: 52px;
position: relative;
display: flex;
justify-content: flex-end;
align-items: flex-end;
padding-top: 28px;
}

@media screen and (max-width: 700px) {
  .header {
    min-height: 42px;
    padding-top: 16px;
  }
}