.places__link-heading {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 20px;
color: #AAAAAA;
letter-spacing: 2px;
margin: 0;
margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .places__link-heading {
    line-height: 12px;
  }
  
}

@media screen and (max-width: 450px) {
  .places__link-heading {
   margin: 0 16px 12px 16px;
  }
  
}